process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    pod = [
        annotation: 'scheduler.illumina.com/presetSize',
        value     : 'himem-small'
    ]    
    cpus 7
    memory '60 GB'
    maxForks 5
}